body {
    margin: 0px;
}

.contents {
    display: flex;
    flex-direction: column;
}

.header {
    background: linear-gradient(to top, #6bd0f8 0%,#4eaef7 100%);
    height: max(100px, 10vh);
}

.container {
    background: linear-gradient(to bottom, #b7eaff 0%,#94dfff 100%);
    height: max(200px, 85vh);
    text-align: center;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#userinput {
    margin: 10px;
}

.infobox {
    background: linear-gradient(to top, #6bd0f8 0%,#4eaef7 100%); 
    border-radius: 10px;
    margin: 10px;
    min-height: 100px;
    min-width: 100px;
}

.footer {
    background: rgb(230, 230, 230);
    height: max(50px, 5vh);
}